<div id="dosage-preference-info" style="display: none;">
	<a href="javascript:void(0)" class="button tiny" id="backButton_9" style="float: left;">Back</a><br/><br/><br/>
	<p>Do you have a dosage preference for <span class="drugName"></span></p>
	<div class="drugStrength"></div>
	<label>$<span class="drugPrice"></span> per dose</label>
	<p> A starting dose of <span class="drugStrength"></span> (typically $<span class="drugPrice"></span>) is usually adequate for patients who are new to the medication. Based on the information you provide, a physician will determine if this dose (or another) is appropriate.</p>
	<a href="javascript:void(0)" class="button round" id="dosage-preference-btn">SELECT <span class="drugStrength-btn"></span> PREFERENCE</a>
	<br/><br/>
	<p>Select your dose if you have a different preference you’d like to share with the physician.</p>
	<a href="javascript:void(0)" class="button round" id="dosage-preference-info-btn">SELECT DIFFERENT DOSE</a>
</div>

<div id="dosage-preference-list-info">	
</div>