<% if @erections.include? "When masturbating" %>
	<div class="row hide" id="does-erection-remain-hard-until-orgasm">
    <div class="row">
      <div class="large-12 columns">
        <a href="javascript:void(0)" class="left" id="backButton_29">❮</a>       
      </div>
    </div>
    <hr/>
	  <div class="large-10 large-offset-1 columns">
      <div class="row">
        <div class="large-8 large-offset-2 columns">
          <h5>When masturbating, does your erection remain hard until orgasm or as long as you would like?</h5><br/>
          <div class="panel">
            <label for="does-erection-remain-hard-until-orgasm"><input type="radio" name="When masturbating, does your erection remain hard until orgasm or as long as you would like?" value="No, it starts hard but never remains hard" class="does-erection-remain-hard-until-orgasm"><strong> No, it starts hard but never remains hard</strong></label><hr>
  					<label for="does-erection-remain-hard-until-orgasm"><input type="radio" name="When masturbating, does your erection remain hard until orgasm or as long as you would like?" value="No, it starts hard but never remains hard" class="does-erection-remain-hard-until-orgasm"><strong> Yes, but only rarely</strong></label><hr>
  					<label for="does-erection-remain-hard-until-orgasm"><input type="radio" name="When masturbating, does your erection remain hard until orgasm or as long as you would like?" value="Yes, on occasion" class="does-erection-remain-hard-until-orgasm"><strong> Yes, on occasion</strong></label><hr>
  					<label for="does-erection-remain-hard-until-orgasm"><input type="radio" name="When masturbating, does your erection remain hard until orgasm or as long as you would like?" value="Yes, more than half the time" class="does-erection-remain-hard-until-orgasm"><strong> Yes, more than half the time</strong></label><hr>
  					<label for="does-erection-remain-hard-until-orgasm"><input type="radio" name="When masturbating, does your erection remain hard until orgasm or as long as you would like?" value="Yes, always" class="does-erection-remain-hard-until-orgasm"><strong> Yes, always</strong></label>
          </div>
	      </div>
      </div>
	  </div>
	</div>
<% end %>

<% if @erections.include? "When you wake up" %>
	<div class="row hide" id="do-you-wake-up-with-an-erections">
    <div class="row">
      <div class="large-12 columns">
        <a href="javascript:void(0)" class="left" id="backButton_30">❮</a>       
      </div>
    </div>
    <hr/>
	  <div class="large-10 large-offset-1 columns">
      <div class="row">
        <div class="large-8 large-offset-2 columns">
          <h5>Do you wake up with an erections?</h5><br/>
          <div class="panel">
            <label for="do-you-wake-up-with-an-erections"><input type="radio" name="Do you wake up with an erections?" value="Rarely" class="do-you-wake-up-with-an-erections"><strong> Rarely</strong></label><hr>
  					<label for="do-you-wake-up-with-an-erections"><input type="radio" name="Do you wake up with an erections?" value="Sometimes" class="do-you-wake-up-with-an-erections"><strong> Sometimes</strong></label><hr>
  					<label for="do-you-wake-up-with-an-erections"><input type="radio" name="Do you wake up with an erections?" value="Everytime" class="do-you-wake-up-with-an-erections"><strong> Everytime</strong></label>
          </div>
	      </div>
      </div>
	  </div>
	</div>
<% end %>

<!-- Have you had a physical exam with a healthcare provider in the past five years? -->
<div class="row hide" id="have-you-had-a-physical-exam-with-a-healtcare-provider">
  <div class="row">
    <div class="large-12 columns">
      <a href="javascript:void(0)" class="left" id="backButton_31">❮</a>       
    </div>
  </div>
  <hr/>
  <div class="large-10 large-offset-1 columns">
    <div class="row">
      <div class="large-8 large-offset-2 columns">
        <h5>Have you had a physical exam with a healthcare provider in the past five years? If so, did the provider also examine the genitals(penis, testis, and grion)? If not, we recommend visiting a heathcare provider before using Roman's services.</h5><br/>
        <div class="panel">
          <label for="have-you-had-a-physical-exam-with-a-healtcare-provider"><input type="radio" name="Have you had a physical exam with a healthcare provider in the past five years?" value="Yes, it was normal" class="have-you-had-a-physical-exam-with-a-healtcare-provider"><strong> Yes, it was normal</strong></label><hr>
  				<label for="have-you-had-a-physical-exam-with-a-healtcare-provider"><input type="radio" name="Have you had a physical exam with a healthcare provider in the past five years?" value="Yes, but there were issues" class="have-you-had-a-physical-exam-with-a-healtcare-provider"><strong> Yes, but there were issues.</strong></label><hr>
  				<label for="have-you-had-a-physical-exam-with-a-healtcare-provider"><input type="radio" name="Have you had a physical exam with a healthcare provider in the past five years?" value="No" class="have-you-had-a-physical-exam-with-a-healtcare-provider"><strong> No</strong></label>
        </div>
      </div>
    </div>
  </div>
</div>