<% if @erections.include? "When masturbating" %>
	<div id="does-erection-remain-hard-until-orgasm" style="display: none;">
		<a href="javascript:void(0)" class="button tiny" id="backButton_29" style="float: left;">Back</a><br/><br/><br/>
		<h3>When masturbating, does your erection remain hard until orgasm or as long as you would like?</h3><br>
		<input type="radio" name="When masturbating, does your erection remain hard until orgasm or as long as you would like?" value="No, it starts hard but never remains hard" class="does-erection-remain-hard-until-orgasm"> No, it starts hard but never remains hard<br>
		<input type="radio" name="When masturbating, does your erection remain hard until orgasm or as long as you would like?" value="No, it starts hard but never remains hard" class="does-erection-remain-hard-until-orgasm"> Yes, but only rarely<br>
		<input type="radio" name="When masturbating, does your erection remain hard until orgasm or as long as you would like?" value="Yes, on occasion" class="does-erection-remain-hard-until-orgasm"> Yes, on occasion<br>
		<input type="radio" name="When masturbating, does your erection remain hard until orgasm or as long as you would like?" value="Yes, more than half the time" class="does-erection-remain-hard-until-orgasm"> Yes, more than half the time<br>
		<input type="radio" name="When masturbating, does your erection remain hard until orgasm or as long as you would like?" value="Yes, always" class="does-erection-remain-hard-until-orgasm"> Yes, always<br>
	</div>
<% end %>

<% if @erections.include? "When you wake up" %>
	<div id="do-you-wake-up-with-an-erections" style="display: none;">
		<a href="javascript:void(0)" class="button tiny" id="backButton_30" style="float: left;">Back</a><br/><br/><br/>
		<h4>Do you wake up with an erections?</h4>
		<input type="radio" name="Do you wake up with an erections?" value="Rarely" class="do-you-wake-up-with-an-erections"> Rarely<br>
		<input type="radio" name="Do you wake up with an erections?" value="Sometimes" class="do-you-wake-up-with-an-erections"> Sometimes<br>
		<input type="radio" name="Do you wake up with an erections?" value="Everytime" class="do-you-wake-up-with-an-erections"> Everytime<br>		
	</div>
<% end %>

<div id="have-you-had-a-physical-exam-with-a-healtcare-provider" style="display: none;">
	<a href="javascript:void(0)" class="button tiny" id="backButton_31" style="float: left;">Back</a><br/><br/><br/>
	<h4>Have you had a physical exam with a healthcare provider in the past five years? If so, did the provider also examine the genitals(penis, testis, and grion)? If not, we recommend visiting a heathcare provider before using Roman's services.</h4>
	<input type="radio" name="Have you had a physical exam with a healthcare provider in the past five years?" value="Yes, it was normal" class="have-you-had-a-physical-exam-with-a-healtcare-provider"> Yes, it was normal<br>
	<input type="radio" name="Have you had a physical exam with a healthcare provider in the past five years?" value="Yes, but there were issues" class="have-you-had-a-physical-exam-with-a-healtcare-provider"> Yes, but there were issues.<br>
	<input type="radio" name="Have you had a physical exam with a healthcare provider in the past five years?" value="No" class="have-you-had-a-physical-exam-with-a-healtcare-provider"> No<br>	
</div>